html, body {
    margin: 0;
    padding: 10;
    background-color: #388F1D;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #5DA424;
    border: solid black 2px;
}

.tile {
    width: 40px;
    height: 40px;
    /* border: 1px solid green */
}

.snake {
    background-color: #13280B;
    /* border: solid white 1px; */
}

.pellet {
    background-color: blue;
    border-radius: 10px;
}

#end-btn {
    display: none;
}

button {
    font-size: 1.5rem;
    height: 50px;
    width: 150px;
}