html, body {
    margin: 0;
    padding: 10;
    background-color: whitesmoke;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: solid black 2px;
}

.tile {
    width: 40px;
    height: 40px;
    /* border: 1px solid green */
}

.snake {
    background-color: green;
    /* border: solid white 1px; */
}

.pellet {
    background-color: blue;
    border-radius: 10px;
}

#end-btn {
    display: none;
}